SUPABASE_URL=https://syxuguxhnaoqafreklbr.supabase.co
SUPABASE_KEY=sb_publishable_BkNTJMFpBmxuLZMr8BGYIA_kUpC_qcR

# URL of your local MacBook ML Server exposed via ngrok
MODEL_SERVER_URL=https://<your-ngrok-id>.ngrok-free.app