SUPABASE_URL=https://syxuguxhnaoqafreklbr.supabase.co
SUPABASE_KEY=sb_publishable_BkNTJMFpBmxuLZMr8BGYIA_kUpC_qcR

# URL of the second EC2 instance running the FLAN-T5 microservice
FLAN_SERVICE_URL=http://<YOUR_SECOND_EC2_IP>:8001